<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Add New User</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />

</head>
<body>
    <form  action="/user" method="POST">
        <label>Username:
            <input type="text" name="username" th:value="${username}" required>
        </label>
        <br />
        <label>Email:
            <input type="email" name="email" th:value="${email}" required>
        </label>
        <br />
        <label>Password:
            <input type="password" name="password" required>
        </label>
        <br />
        <label>Verify Password:
            <input type="password" name="verify" required>
        </label>
            <br />
        <p class="error" th:if="${error}" th:text="${error}"></p>
        <button type="submit" value="Submit">Submit</button>
    </form>
</body>
</html>